/* auth buttons */
.login-button { margin-right: 15px; margin-bottom: 15px; width: 60px; height: 60px; background-color: transparent; background-size: 60px 60px; cursor: pointer; border: none; }
.facebook-login { background-image: url('images/facebook.png'); }
.microsoft-login { background-image: url('images/microsoft.png'); }
.google-login { background-image: url('images/google.png'); }
.myopenid-login { background-image: url('images/myopenid.png'); }
.yahoo-login { background-image: url('images/yahoo.png'); }


/* site look & feel */



/* Large desktop */
@media (min-width: 1200px) {
}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
     
/* Landscape phones and down */
@media (max-width: 480px) {
}
