/* colors */
body#momo, #momo h1 a, #momo h2 a, #momo h3 a, #momo h1 a:visited, #momo h2 a:visited, #momo h3 a:visited { color: #3a3838; }
#momo a, #momo a:visited { color: #5c80b1; }
#momo .btn-primary { background-color: #5c80b1; border-color: #5c80b1; color: #fff; }
#momo .btn-primary:hover { background-color: #3066b0; border-color: #3066b0; color: #fff; }


/* auth buttons */
.login-button { margin-right: 15px; margin-bottom: 15px; width: 60px; height: 60px; background-color: transparent; background-size: 60px 60px; cursor: pointer; border: none; }
.facebook-login { background-image: url('images/facebook.png'); }
.microsoft-login { background-image: url('images/microsoft.png'); }
.google-login { background-image: url('images/google.png'); }
.myopenid-login { background-image: url('images/myopenid.png'); }
.yahoo-login { background-image: url('images/yahoo.png'); }


/* forms */
.input-validation-error { border: 1px solid #e80c4d !important; }
.validation-summary-errors { color: #e80c4d; font-weight: bold; }
.validation-summary-valid { display: none; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance:textfield; }


/* placeholder */
::-webkit-input-placeholder { color: lightgray !important; font-style: italic !important; }
:-moz-placeholder { color: lightgray !important; font-style: italic !important; }
:-ms-input-placeholder { color: lightgray !important; font-style: italic !important; }
input::-moz-placeholder { color: lightgray !important; font-style: italic !important; }
input.placeholder { color: lightgray !important; font-style: italic !important; }


/* misc */
div.mobileAccessible { margin: 5px 0; padding: 10px 15px; border: solid 1px #bbb; border-radius: 3px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset; }

.item-container.zero div, .item-container.picked div { opacity: .6; }
.hide-zero .zero, .hide-picked .picked { display: none; }
.hide-zero.hide-picked .nothing-needed { display: none; }

.list-item-status-exists::after,
.list-item-status-new::after { color: white; font-weight: bolder; text-align: center; -ms-border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; display: inline; margin-left: 5px; padding: 2px 5px; }
.list-item-status-exists::after { content: '\2714'; background-color: #9cc19c; }
.list-item-status-new::after { content: 'new'; background-color: #3066b0; font-size: .9em; }

@media (min-width: 768px) {
    div.mobileAccessible { margin: 3px 0; padding: 5px 10px; }
}
