@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <p><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></p>
    }
}
