@{
    ViewBag.Title = Request.RequestContext.RouteData.Values["username"];
}


@if (CurrentUser.IsRouteUsername())
{
    using (Html.BeginForm("add", null, FormMethod.Post, new {data_bind = "submit: onNewListSubmit"}))
    {
        @Html.AntiForgeryToken()
        <ol>
            <li><input type="text" name="Name" placeholder="new list" data-bind="'value': newListName, 'valueUpdate': 'afterkeydown'" /></li>
        </ol>
        @Html.ValidationSummary()
    }
}


<p data-bind="'text': noItemsMsg, 'visible': shoppingLists().length == 0 && sharedLists().length == 0"></p>


<!-- ko foreach: shoppingLists -->
<p><a data-bind="'text': Name, 'attr': {'href': Url}" href="#"></a></p>
<!-- /ko -->

<!-- ko if: sharedLists().length > 0 -->
    <p><strong>Shared Lists</strong></p>
    <!-- ko foreach: sharedLists -->
    <p><a data-bind="'text': Name, 'attr': {'href': Url}" href="#"></a></p>
    <!-- /ko -->
<!-- /ko -->



@section scripts
{
    <script>
        $.extend(app.urls, {
            index: '@Url.Action("Index")'
        });
    </script>

    @Scripts.Render("~/Scripts/Site.ShoppingLists.Index.js")
}
