@model ShoppingListsIndexModel

@{
    ViewBag.Title = "Shopping Lists";
}

<ul data-role="listview">
    @if (Model.ShowNew)
    {
    <li>@Html.ActionLink("** New **", "Add")</li>
    }
    @foreach (var shoppingList in Model.ShoppingLists)
    {
        <li>@Html.ActionLink(@shoppingList, "Show", new {shoppingList})</li>
    }
</ul>
