@{
    ViewBag.Title = Request.RequestContext.RouteData.Values["username"];
}


<p data-bind="text: noItemsMsg, visible: shoppingLists().length == 0 && sharedLists().length == 0" class="msg-container"></p>


<ul data-bind="foreach: shoppingLists" data-role="listview" data-inset="true">
    <li>
        <a data-bind="text: Name, attr: {href: Url}" href="#">loading...</a>
    </li>
</ul>


<ul data-bind="if: sharedLists().length > 0" data-role="listview" data-inset="true">
    <li data-role="list-divider">Shared Lists</li>
    <!-- ko foreach: sharedLists -->
    <li>
        <a data-bind="text: Name, attr: {href: Url}" href="#">loading...</a>
    </li>
    <!-- /ko -->
</ul>



@section FooterBarButtons
{
    @if (CurrentUser.IsRouteUsername())
    {
        @Html.ActionLink("New List", "Add", null, new {data_role = "button", data_icon = "plus", data_mini = "true", data_inline = "true", data_iconpos = "notext"})
    }
}
