@model ShoppingListsRenameModel

@{
    ViewBag.Title = "Rename";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <ol>
        <li>@Html.Editor("Name")</li>
    </ol>

    <input type="submit" value="Save" />

    @Html.ValidationSummary()
}
