<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.4.0.45" targetFramework="net45" />
  <package id="RobTennyson.Common" version="1.2.4585.20290" targetFramework="net45" />
</packages>