@{
    ViewBag.Title = "About";
}

<h3>Minimal List (mnmllist.com)</h3>

<p>
    <strong><em>Minimal List</em></strong> was created to solve a need my daughter and I had - a simple
    way to have our weekly grocery list online.
</p>

<p>
    Yes, I know... there are aleady dozens of solutions out there. I'm betting one of them might have
    even served the purpose for us. However, everything we looked at shared a few problems.
    <ol>
        <li>Overly complex</li>
        <li>Had a ton of <em>helpful</em> features we didn't really want</li>
        <li>Most importantly, didn't sort the list for us. Well, didn't sort it the way <strong><em>we</em></strong> wanted it sorted</li>
    </ol>
</p>

<p>
    You see, what we really wanted was an online shopping list that would sort itself based on the path we take in our
    grocery store. You know, at the top of the list would be things on aisle one in <em>our</em> store. At the bottom of
    the list are things on the last aisle where we're about to checkout (milk, eggs, etc. for us).
</p>

<p>
    Being a developer (<a href="http://www.robtennyson.us/page/about-me" target="_blank">Rob Tennyson</a>), I thought I'd go ahead
    and just build it! This also gave me a chance to play with <a href="http://jquerymobile.com/" target="_blank">jQuery Mobile</a>
    and a few other geeky things :). <small><em>Note that I've abandoned jQuery Mobile for performance reasons.</em></small>
</p>

<h3>Contact Us</h3>

<p>
    If you choose to take advantage of our online shopping lists as well
    (<a href="@(Request.IsAuthenticated ? Url.Action("Index", "ShoppingLists") : Url.Action("Login", "Account"))">please do!</a>),
    feel free to let me know if you run into trouble or if you'd just like to give us a shout. We'd love to hear from you!
</p>

<p>
    Email: <a href="mailto:rob@robtennyson.us"><strong style="font-size: 1.1em;">rob@robtennyson.us</strong></a>
</p>

<p>
    Thanks and happy shopping!
</p>
