@model Momo.Domain.Entities.ShoppingList[]

@{
    ViewBag.Title = "Home";
}

<nav>
    <ul data-role="listview">
        @if (Request.IsAuthenticated) {
        <li>@Html.ActionLink("Shopping Lists", "Index", "ShoppingLists")</li>
        }
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@(Request.IsAuthenticated ? Html.ActionLink("My Account", "Manage", "Account") : Html.ActionLink("Sign in", "Login", "Account"))</li>
    </ul>
</nav>
