@model Momo.Domain.Entities.ShoppingList[]

@{
    ViewBag.Title = "Home";
}

<h3>Your Shopping Lists</h3>

<p>
    <ul data-role="menu">
        <li>@Html.ActionLink("** New **", "Add", "ShoppingLists")</li>
        @foreach (var shoppingList in Model)
        {
            <li>@Html.ActionLink(@shoppingList.Name, "Show", "ShoppingLists", new {id = shoppingList.Id}, null)</li>
        }
    </ul>
</p>

@section scripts
{
    @Scripts.Render("~/Scripts/Site.Home.Index.js")
}
