<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="momo_conn" connectionString="-- set in final deployment --" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey validation="SHA1" decryption="AES" validationKey="-- set in final deployment --" decryptionKey="-- set in final deployment --" xdt:Transform="Insert" />
  </system.web>

  <log4net>

    <root xdt:Transform="Replace">
      <level value="ERROR" />
      <appender-ref ref="db" />
    </root>

    <logger name="Momo" additivity="false" xdt:Transform="Replace" xdt:Locator="Match(name)">
      <level value="INFO" />
      <appender-ref ref="db" />
    </logger>

    <logger name="NHibernate.SQL" xdt:Transform="Remove" xdt:Locator="Match(name)" />

  </log4net>

</configuration>
