@using Momo.Common
@model ICollection<AuthenticationClientData>

@using (Html.BeginForm("ExternalLogin", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {data_ajax = "false"}))
{
    @Html.AntiForgeryToken()
    <p>
        @foreach (var externalLogin in Model)
        {
            <button
                type="submit"
                name="provider"
                value="@externalLogin.AuthenticationClient.ProviderName"
                title="Log in using your @externalLogin.DisplayName account"
                class="login-button @("{0}-login".F(externalLogin.AuthenticationClient.ProviderName))"
                data-role="none">

                &nbsp;

            </button>
        }
    </p>
}
