@model LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()

    <ol>
        <li>@Html.EditorFor(m => m.NewPassword)</li>
        <li>@Html.EditorFor(m => m.ConfirmPassword)</li>
    </ol>

    <input type="submit" value="Set password" />

    @Html.ValidationSummary()
}
